body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: white; 
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px; 
}

.full-width {
  width: 100%;
  text-align: center;
  padding: 15px;
  background: #f5f5f5; 
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px; 
}

/*css Box styles */
.flex-container div {
  background: #ffffff; 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3); 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 240px;
  height: 120px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect of box */
.flex-container div:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4); 
}

/* First row (4 divs) box */
.row-4 div {
  flex: 1 1 calc(25% - 30px);
}

/* Second row (2 divs) box */
.row-2 div {
  flex: 1 1 calc(50% - 30px);
}
