#head{
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 #table{
    background-color:rgb(17, 91, 95);
    color: white; 
    border: 0px solid;
    width: 100%; 
    font-size: larger;
}
#sub{
    margin-left: 150%;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: 0px solid;
    background-color: rgb(235, 33, 33);
}
#res{
    margin-left: 120%;
    padding: 3px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    border: 0px solid;
    background-color: rgb(235, 33, 33);
}
